
// Body
$body-bg: #181818;
$body-text: #b9b9b9;

// Typography
$sans-serif-title: "Oswald", sans-serif;
$sans-serif-body: "Source Sans Pro", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #fff;
$accent: #00a6c4;
